//Colors
$primary-color: #108a65;
$primary-color-2: #439e4a;
$primary-color-hover: #64b186;
$primary-color-dark: #27ae60;
$price-color: #f68d36;
$urun-title-color: #3f4a58;
$urun-marka-color: #98a0a9;
$header-color: #fff;
$nav-color: #2c3e51;
$font-color: #132420;
$font-color-gray: #6d6c5a;
$red-color: #c0392b;

//Font-size
$default-font-size: 1.6rem;

//Shadow
$shadow: 0 2px 4px #2c3e5175;

//radius
$sm-radius: 4px;
$radius: 10px;

//border
$border: 1px solid #6d6c5a38;
