.btn {
  padding: 1.2rem 2rem;
  border-radius: $sm-radius;
  font-size: 1.4rem;
  cursor: pointer;
  user-select: none;
  text-align: center;
  transition: all .2s;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $primary-color;
  width: 100%;
  height: 50px;
  border:1px solid $primary-color;

  &:hover {
    background-color: $primary-color;
    color: #fff;
  }

  &__detay {
    padding: 1rem 2rem;
    margin-right: auto;
  }
  &__close {
    margin-left: -2rem;
  }

  &:disabled, &:disabled:hover {
    background: $disabled-green;
    cursor: not-allowed;
  }

  &-empty {
    padding: .8rem 2rem;
    color: $primary-color;
    border: 1px solid $primary-color;
    border-radius: $radius * 2;
    transition: all .2s;
    background-color: transparent;

    &:hover {
      background-color: $primary-color;
      color: #fff;
    }
  }

  &-green {
    background-color: $primary-color;
    color: #fff;

    &:hover {
      background-color: darken($primary-color, 5);
    }
  }
}

.login-button {
  border-radius: 5px;
  margin-top: 1rem;
  cursor: pointer;
  padding: 1rem 2rem;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 500;
  outline: none;
  background-color: $primary-color;
  color: #fff;
}
