input, textarea {
  border: $border-2;
  width: 100%;
  border-radius: $sm-radius;
  padding: 10px;
  font-size: 14px;
  outline: none;
  color: $font-color;
  resize: none;

  &::placeholder {
    color: #5b59414c;
    font-size: 13px;
  }

  &:focus {
    border: 1px solid $primary-color-hover;
  }
}